* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.headerFooter {
  text-align: center;
  background-color: #a12312;
  color: rgb(235, 226, 215);
  /* margin: 10px; */
}

nav {
  background-color: rgb(227, 181, 65);
  text-align: left;
}
body {
  background-color: bisque;
  background-image: url(https://previews.123rf.com/images/krekdm/krekdm1610/krekdm161000237/67736859-dibujado-a-mano-vector-de-patr%C3%B3n-de-comida-r%C3%A1pida-sin-problemas-los-elementos-de-comida-del-bosquejo.jpg);
}

.inicioMenu {
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 1.7rem;
  text-align: center;
}
h4 {
  font-size: 1.5rem;
  text-align: center;
}
h5 {
  font-size: 1rem;
  text-align: center;
}
.menucomida {
  font-size: 1.5rem;
}

footer {
  text-align: center;
  background-color: rgb(227, 181, 65);
  margin-top: 30px;
}

#colorVerde {
  background-color: #8fce00;
}

#colorRojo {
  background-color: #a12312;
  color: rgb(235, 226, 215);
}

#colorAmarillo {
  background-color: rgb(227, 181, 65);
}

#imagenes {
  max-width: 50vw;
  margin-bottom: 10px;
}
.imagenes {
  max-width: 80%;
  /* margin-bottom: 10px; */
}

#hover:hover {
  color: rgb(64, 10, 114);
  background-color: rgba(255, 217, 0, 0.856);
}

#hover_home {
  background-color: rgb(168, 145, 17);
  color: rgb(64, 10, 114);
}

#menuinicial {
  font-size: 2rem;
  background-color: rgb(227, 181, 65);
}

#formulario {
  font-size: 1.5vw;
}

#precios {
  margin: 30px;
}

.listaprecios {
  font-size: 1.5rem;
}

.clasereloj {
  font-size: 2vw;
  text-align: center;
}

.fechasreloj {
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alignmentCenter {
  text-align: center;
}

a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__backdrop::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 5%;
  filter: blur(2px);
  left: 50%;
  top: 50%;
  transform: scale(11);
  opacity: 0.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox__container {
  --fancybox-bg: #000;

  --fancybox-thumbs-width: 48px;
  --fancybox-thumbs-ratio: 1;

  --carousel-button-bg: rgb(91 78 76 / 74%);

  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;

  --carousel-button-svg-stroke-width: 2.5;
}

.fancybox__nav {
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
}

.fancybox__nav .carousel__button.is-prev {
  left: 20px;
}

.fancybox__nav .carousel__button.is-next {
  right: 20px;
}

.carousel__button.is-close {
  right: auto;
  top: 20px;
  left: 20px;
}

.fancybox__slide {
  padding: 8px 88px;
}

/* Thumbnails */
.fancybox__thumbs .carousel__slide {
  padding: 8px 8px 16px 8px;
}

.is-nav-selected::after {
  display: none;
}

.fancybox__thumb {
  border-radius: 6px;
  opacity: 0.4;
}

.fancybox__thumb:hover,
.is-nav-selected .fancybox__thumb {
  border-radius: 6px;
  opacity: 1;
}

.is-nav-selected .fancybox__thumb::after {
  display: none;
}

fieldset {
  border: 0;
}
label {
  display: block;
  margin: 30px 0 0 0;
}
.overflow {
  height: 200px;
}

#pedirComida {
  font-size: 1vw;
}

#alerta {
  font-size: 0.8vw;
}

#comprasCarrito {
  font-size: 1vw;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 20rem;
  background-color: rgb(251, 251, 251);
  color: rgb(14, 13, 13);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  right: 50%;
  /* margin-right: 1vw; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(252, 249, 249) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
